# Ignore possible build & documentation
docs/_build/
build/

# Ignore temp files
*.pyc
*.save
*.bak
.*.swp
*~
*.o
*.mod
*.so

# Ignore data &binary files
*.h5
*.ace

# Ignore specific files
matplotlibrc
.ipynb_checkpoints

# Ignore rope files introduced by python-mode
.ropeproject

# Ignore produced image files
*.eps
*.pdf

# Ignore log files
*.log
